@use "../../../styles/variables";

.Item {
  margin-bottom: 3rem;

  header {
    display: flex;
    flex-direction: row;

    & > img {
      width: 4rem;
      height: 4rem;
      border: 1px solid variables.$color-lightgray;
      margin-right: 1rem;
    }

    & > div {
      display: flex;
      flex-direction: column;

      h3, h4 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: -0.5rem;
      }

      h4 {
        color: variables.$color-darkgray;
      }
    }
  }

  main {
    padding-left: 3rem;
    margin-left: 2rem;
    line-height: 2;
    border-left: 1px solid variables.$color-lightgray;

    ul, li {
      padding: 0;
      padding-left: 1rem;
    }
  }

  .PositionHeader {
    position: relative;
    margin-top: 2rem;
    line-height: 1.5;

    &::before {
      position: absolute;
      top: 0.75rem;
      left: -4.25rem;
      content: '';
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      background-color: variables.$color-lightgray;
      border-radius: 50%;
      border: 1rem solid variables.$color-background;
    }

    h3, h4 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
    }
    
    h3 {
      font-size: 1.2rem;
      margin-top: -0.5rem;
    }

    h4 {
      color: variables.$color-darkgray;
    }
  }
}

@media screen and (max-width: 960px) {
  .Item {
    header {
      & > img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    main {
      margin-left: 1.25rem;
      padding-left: 1.25rem;
    }
    .PositionHeader::before {
      top: 0.75rem;
      left: -2.60rem;
    }
  }
}

@media print {
  .Item {
    font-size: 10pt;
    margin-bottom: 1rem;

    main {
      padding-left: 1.5rem;
      margin-left: 1rem;
      li {
        padding-left: 0.5rem;
      }
    }

    header {
      break-inside: avoid;
      & > img {
        width: 2rem;
        height: 2rem;
      }
      .ItemHeader {
        display: block;
        h3, h4 {
          display: inline-block;
        }
        .ItemPlace {
          margin-right: 0.5rem;
        }
        .ItemPosition {
          margin-right: 1rem;
          &::before {
            content: '- ';
          }
        }
        .ItemDuration {
          margin-left: 0.5rem;
          &::before { content: '('; }
          &::after { content: ')'; }
        }
      }
    }

    .PositionHeader {
      display: block;
      &::before {
        top: -0.5rem;
        left: -2.85rem;
        background-color: variables.$color-lightgray;
        border: 0.5rem solid white;
      }

      h3, h4 {
        display: inline-block;
      }
    
      .ItemPlace {
        margin-right: 0.5rem;
      }
    
      .ItemPosition {
        margin-right: 1rem;
      }
    
      .ItemDuration {
        margin-left: 0.5rem;
    
        &::before {
          content: '(';
        }
    
        &::after {
          content: ')';
        }
      }
    }
  } 
  .PositionContent li {
    break-inside: avoid;
  }
}
