@use "../../styles/variables";

.Wrapper {
  display: flex;
  flex-wrap: wrap;

  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
    padding: 0;
  }
}

.Summary {
  // width: calc(66.666% - 0.5rem);
  
  p {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 200;
    margin: 0,
  }
}

.SocialMedia {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: calc(33.333% - 0.5rem);
  font-size: 2.5rem;

  a {
    display: block;
    color: variables.$color-blackish;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: variables.$color-highlight;
    }
  }
}

.HDivider {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid variables.$color-lightgray;
  margin-bottom: 2rem;
}

.Experience {
  width: calc(50% - 0.5rem);
  border-right: 1px solid variables.$color-lightgray;
  box-sizing: border-box;
  padding-right: 1rem;

  h2 {
    margin-bottom: 2rem;
  }
}

.Sidebar {
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
  padding-left: 1rem;
}

@media only screen and (max-width: 960px) {
  .Experience, .Sidebar {
    width: 100%;
  }
}

@media print {
  // .SocialMedia {
  //   flex-direction: row;
  //   align-items: flex-end;
  //   font-size: 1.5rem;
  //   padding-bottom: 1rem;
  //   a {
  //     display: flex;
  //     width: 100%;

  //     &::after {
  //       content: attr(href);
  //       font-size: 0.75rem;
  //       margin-left: 1rem;
  //     }
  //   }
  // }

  .Summary {
    width: 100%;

    p {
      font-size: 10pt;
      font-weight: 400;
    }
  }

  .HDivider {
    margin-bottom: 0.5rem;
  }

  .Experience {
    width: 100%;
    border-right: 0;
    padding-right: 0;
    h2 {
      margin-bottom: 1rem;
    }
  }
  
  .Sidebar {
    width: 100%;
  }
}
