.ConferenceList {
  margin: 0px;
  padding: 0px;
  padding-left: 1em;
  list-style: none;

}

.ConferenceList li {
  margin-bottom: 1em;
}

.link {
  margin-left: 1em;
}

@media print {
  .link {
    display: none;
  }
}
