.form {
  display: flex;
  flex-direction: column;
}

.form.STATE_DONE .submit {
  background: #78e06f;
}

.field {
  border: 1px solid #fafafa;
  background: transparent;
  color: #fafafa;
  margin-bottom: 1em;
  padding: 0.5em 1em 0.5em 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
textarea.field {
  height: 6em;
}

.submit {
  border: 0px;
  background: #fafafa;
  color: #0e0e0e;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.5em;
}

.done {
  color: #fafafa;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.error {
  color: #dd4949;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.debounce {
  color: #fafafa;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.validation-error {
  color: #dd4949;
  margin-bottom: 1em;
}

.done p, .error p {
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .field {
    font-size: 1.5em;
  }
  .error, .done, .debounce, .validation-error {
    font-size: 1.5em;
  }
  .submit {
    padding: 1em;
  }
}
