.LanguageList {
  margin: 0px;
  padding: 0px;
  padding-left: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.LanguageList > li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.language {
  width: 35%;
}

.level {
  font-size: 0.7em;
}

.icon {
  margin-right: 1em;
}

@media screen and (min-width: 0px) and (max-width: 359px) {
  .LanguageList > li {
    flex-direction: column;
  }
  .level {
    font-size: 1em;
    color: #7a7a7a;
    margin-left: 2em;
  }  
}
