.MenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  color: #0E0E0E;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #0e0e0e;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-decoration: none;
  max-width: 33%;
  min-width: 165px;
}

.MenuItem:link, .MenuItem:visited {
  color: #0E0E0E;
}

.MenuItem:hover {
  color: var(--color-primary);
}

.MenuItem:hover .title {
  transform: translateX(0.5em);
}

.title {
  display: block;
  font-weight: bold;
  transform: translateX(0em);
  transition: transform 400ms;
  margin-bottom: 0.5em;
}

.description {
  display: block;
  font-size: 0.8em;
  opacity: 0.5;
}

.MenuItem:hover .description {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .MenuItem {
    border-left-width: 1px;
    font-weight: normal;
    min-width: 0;
  }
  .description {
    display: none;
  }
  .icon {
    font-size: 1em;
  }
}