.Section {
  font-size: 1em;
  line-height: 1.8;
  color: #424242;
}

.Section h1 {
  color: #424242;
  font-size: 2em;
  margin: 0em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.icon {
  margin-right: 0.5em;
}
