.SkillList {
  list-style: none;
  margin: 0px;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.compact {
  font-size: 0.7em;
}
.compact .item {
  width: calc(25% - 0.5em);
}

.item {
  margin: 0px;
  width: calc(33.333% - 1em);
}

.description {
  display: block;
  font-size: 0.7em;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .compact .item {
    width: calc(50% - 1em);
  }
  .compact {
    font-size: 1em;
  }
}