.Timeline {
  position: relative;
  padding-left: 60px;
}

.Timeline::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  background: #bdbdbd;
  left: 24px;
}
