.Timeline {
  position: relative;
  padding-left: 8.333%;
}

.Timeline::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  background: #bdbdbd;
  left: 4.1666%;
}
