.button {
  position: relative;
  display: block;
  border: 0px;
  background: #0e0e0e;
  color: #f1f1f1;
  font-size: 1.2em;
  padding: 0.5em 1em 0.5em 1em;
  margin: auto;
}

.icon {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 1em;
  }
}
